bin/
pkg/
.DS_Store
*.pyc
*.swp
*~
.vscode/
.vs/
.idea
.skaffold-*.yaml
.kubernetes-manifests-*/
.project
.eclipse.buildship.core.prefs
release/wi-kubernetes-manifests.yaml
skaffold.yaml
CONTRIBUTING.md
CODEOWNERS
src/
release/
pb/
kubernetes-manifests/
istio-manifests/
hack/
docs/
cloudbuild.yaml
LICENSE
.github/